<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<h1>Batman Vs Superman</h1>




<div class="row">
  <div class="col-md-6">
	<a href="<%= pages_batman_url %>"><img src="/assets/bat.jpg" class="img1"></a>
	<form>
		<%= hidden_field_tag :authenticity_token,form_authenticity_token %>
		<input name="heroe" type="hidden" value="Batman"/>
		<input type="text" name="mail">
		<input type="submit" value="Send">
	</form>
  </div>
  <div class="col-md-6">
	<a href="<%= pages_superman_url %>"><img src="/assets/superm.jpg"></a>
	<form>
		<%= hidden_field_tag :authenticity_token,form_authenticity_token %>
		<input name="heroe" type="hidden" value="Superman"/>
		<input type="text" name="mail">
		<input type="submit" value="Send">
	</form>
  </div>
</div>

