
<p>This looks like a job for Superman</p>


  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' %>
<%= javascript_include_tag 'jquery.backstretch.min.js'%>
<script>
  $.backstretch("/assets/superm.jpg");
</script>